.myButton {
    padding: 5px 10px;
    color: blue;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid blue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.myButton:hover {
    color: white;
    background-color: rgb(79, 125, 253);
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}